name: go-test

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '1.14.4'
    - run: go get -v ./...
    - run: go test -v ./...
      id: test

    # テスト失敗時はこちらのステップが実行される
    - name: Slackに失敗を通知する
      if: success()
      uses: tokorom/action-slack-incoming-webhook@main
      env:
        INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
      with:
        text: "🚨 staging環境への自動デプロイに失敗しました 🚨"
        attachments: |
          [
            {
              "color": "warning",
              "author_name": "${{ github.actor }}",
              "author_icon": "${{ github.event.sender.avatar_url }}",
              "fields": [
                {
                  "title": "Commit Message",
                  "value": "${{ github.event.head_commit.message }}"
                },
                {
                  "title": "GitHub Actions URL",
                  "value": "${{ github.event.repository.url }}/actions/runs/${{ github.run_id }}"
                },
                {
                  "title": "Compare URL",
                  "value": "${{ github.event.compare }}"
                }
              ]
            }
          ]

    # テスト成功時はこちらのステップが実行される
    - name: slackに成功を通知する
      if: failure()
      uses: tokorom/action-slack-incoming-webhook@main
      env:
        INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
      with:
        text: "${{github.event.head_commit.message}} -> ステージング環境に自動デプロイしました"
